<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>example3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
   <servlet>
    <servlet-name>kadai2</servlet-name> <!-- 18行目のurl-patternに紐づく。 -->
    <servlet-class>servlet.Kadai2</servlet-class> <!-- 起動するクラス -->
  </servlet>
     <servlet>
    <servlet-name>kadai21</servlet-name>
    <servlet-class>servlet.Kadai21</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kadai2</servlet-name>
    <url-pattern>/kadai2</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>kadai21</servlet-name>
    <url-pattern>/kadai21</url-pattern>
  </servlet-mapping>
</web-app>